$padding: 4px;
$duration: 750ms;
$switch-color: white;
$track-color: rgba(0, 0, 0, .2);
, #{$padding}, #{$padding}, #{$padding}, #{$padding}, #{$padding}, #{$padding}, #{$padding}
::root {
  --toggle-track-padding: $padding;
  --toggle-animation-duration: $duration;
  --toggle-switch-color: $switch-color;
  --toggle-track-color: $track-color;
}

.toggle {
  &-container {
    color: blue;
    position: relative;
    // width: 100%;
    padding: var(--toggle-track-padding, #{$padding}) 1em;
    border-radius: 2em;
    background-color: var(--toggle-track-color, $track-color);
    border: 1px solid var(--toggle-switch-color, $switch-color);
    overflow: hidden;
  }

  &-track {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    border-radius: calc( (1em + (var(--toggle-track-padding, #{$padding}) * 2)) / 2);

    &.off {
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-duration: var(--toggle-animation-duration, $duration);
      animation-name: slideOff;
    }
    &.on {
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-duration: var(--toggle-animation-duration, $duration);
      animation-name: slideOn;
    }
  }

  &-switch {
    border-radius: .5em;
    height: 1em;
    width: 1em;
    background-color: var(--toggle-switch-color, $switch-color);
  }
}

@keyframes slideOn {
  from { transform: translateX(-50%) }
  to { transform: translateX(50%) }
}

@keyframes slideOff {
  from { transform: translateX(50%) }
  to { transform: translateX(-50%) }
}
