.btn {
  background-color: var(--clr-btn-bg);
  color: var(--clr-btn-fg);
  border: 1px solid var(--clr-btn-fg);
  border-radius: 4px;
  padding: 4px 16px;

  &:hover {
    color: var(--clr-btn-bg);
    background-color: var(--clr-btn-fg);
    border-color: 1px solid var(--clr-btn-bg);
  }

  &:focus {
    outline: 0;
  }
}

.active {
  .btn, .btn:hover {
    background-color: var(--clr-bg);
  }
}
