@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

/* overrides for Syntax-Highlighter */
pre {
  padding: 0 !important;
}
pre, pre > code {
  font-family: 'Fira Code' !important;
  font-size: var(--fnt-small, 13px) !important;
  line-height: 1.2 !important;
  margin: 0 !important;
}
pre > code:not(:last-child) {
  background-color: var(--clr-overlay) !important;
  text-align: right !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}
