.has {
  &-error {
    color: lighten($red, .25);
  }
  &-warning {
    color: lighten(mix($red, $orange), .25);
  }
  &-nothing {
    color: lighten(mix($green, $blue), .25);
  }
}

.errorMessage {
  summary {
    color: lighten($red, .25);
    text-align: center;
  }
  details {
    border: 1px solid $white;
    padding: 16px;
  }
}
