.example {
  display: flex;
  height: 242px;


  > * {
    max-height: 100%;
    overflow-y: auto;
   }

  > *:first-child {
    flex: 1 1 50%;
    align-self: center;
    background-color: var(--clr-white);
    margin-right: 4px;
  }

  > pre {
    flex: 1 1 50%;
    max-height: 100%;
    overflow-y: auto;
  }
}
