@mixin flavorInfo($color) {
  .information {
    border-color: $color;
  }
  header:after {
    color: $color;
  }
}
.floating-column {
  display: block;
  margin: 0 8px;
  padding: 8px;
  grid-gap: 6px;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }

  > section {
    &.meta-section:nth-child(even) {
      @include flavorInfo(magenta);
    }
    &.meta-section:nth-child(odd) {
      @include flavorInfo(yellow);
    }
    &.meta-section:nth-child(1) {
      @include flavorInfo(cyan);
    }
    &.meta-section:nth-last-child(2) {
      @include flavorInfo(#808080);
    }
  }
}
