// if the browser supports grid, override layout of the page
@supports (display: grid) {

  %grid-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .floating-column {
    @extend %grid-columns;

    > section:last-child {
      grid-column: 1 / -1;
    }
  }

  .tests section {
    @extend %grid-columns;
  }

  section > table {
    width: 100%;
    max-width: 100%;
  }
}
