html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: var(--fnt-normal);
  line-height: 1.2em;
}

a {
  color: var(--clr-white);
  text-decoration: none;
  
  &:link, &:visited, &:active, &:hover {
    color: var(--clr-link);
    text-decoration: none;
  }
}
