.sidebar {
  margin-right: 12px;

  &-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .folderName {
    padding-right: 16px;
    position: relative;

    &:not(.open) + .treeList {
      display: none;
    }
    
    &.open + .treeList {
      display: block;
    }

    
    &:after { content: '▲'; }

    &.open:after { content: '▼'; }

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 16px;
      @extend %flex-column-center;
    }
  }
  &-item {
    padding: 4px 0;
    cursor: pointer;

    &:not(.fldr):hover {
      background-color: var(--clr-overlay);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--clr-white);
    }

    &.active {
      color: var(--clr-accent);
      font-style: italic;
    }
  }
}
