@import './fonts/fira_code.css';

table.demos {
  // width: 100%;

  th,
  td {
    &:not(.table) {
      padding: 4px;
    }

    &.bool {
      width: 1px;
      text-align: center;
    }

    > table {
      width: 100%;
    }
  }

  tr:not(:last-child) > td {
    border-bottom: 1px solid var(--clr-white);
  }

  tr:nth-child(odd) {
    background-color: var(--clr-overlay);
  }

  td {
    // &:not(.table) {
    //   vertical-align: center;
    // }

    // &.table {
    //   vertical-align: top;
    // }

    &.empty-table-state {
      text-align: center;
      font-weight: bold;
    }
  }

  tbody th {
    word-wrap: break-word;
    width: 2em;
  }

  th {
    border: 1px solid var(--clr-white);
    background-color: transparentize(#000000, 0.6);
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
  }
}

.data-type,
.variable-name,
.variable-desc {
  font-family: 'Fira Code';
  font-size: 0.8em;
}

.data-type {
  color: var(--clr-accent);
}
.variable-name {
  color: var(--clr-highlight);
}
.variable-desc {
  color: #808080;
}
