.tests {
  .code-coverage {
    text-transform: capitalize;
    @extend %flex-stretch-fill;
    height: 18px;
    width: 240px;
    border-bottom: 1px solid $white;
    > div {
      flex-basis: 50%;

      &:not(:first-child) {
        text-align: right;
      }
    }
  }

  .test-suite {
    padding-left: 12px;
    > summary {
      margin-left: -12px;
    }
    & > .test-suite {
      margin-left: 20px;
    }
    .it {
      margin-left: 12px;
      
      .pending { color: lighten($yellow, 35%); text-shadow: 0px 0px 1px var(--clr-white); }
      .failed { color: lighten($red, 35%); text-shadow: 0px 0px 1px var(--clr-white); }
      .passed { color: lighten($green, 35%); text-shadow: 0px 0px 1px var(--clr-white); }

      .status-title, .status-icon {
        display: inline-block;
        vertical-align: middle;
      }
      .status-icon {
        margin-right: 8px;
        font-size: 1.2em;
      }
    }
  }
}
