.tests {
  .code-coverage {
    @extend %flex-stretch-fill;
    height: 18px;
    width: 240px;
    border-bottom: 1px solid $white;
    > div {
      flex-basis: 50%;

      &:not(:first-child) {
        text-align: right;
      }
    }
  }

  .test-suite {
    padding-left: 12px;
    > summary {
      margin-left: -12px;
    }
    & > .test-suite {
      margin-left: 20px;
    }
    .it {
      margin-left: 12px;
      
      .pending { color: lighten($yellow, .25); }
      .failed { color: lighten($red, .25); }
      .passed { color: lighten($green, .25); }
    }
  }
}
