body {
  --clr-link: #df30e2;
  --clr-bg: #23070d;
  --clr-accent: #666879;
  --clr-highlight: #617461;
  --clr-gray: #ddd;
  --clr-white: #fff;
  --clr-black: #000;

  --fnt-normal: 16px;
  --fnt-small: 13px;
  --fnt-large: 20px;
}
