$Accent: #7A95FF;
$Highlight: #FFC9A3;
$Important: #E08585;
$White: #ffffff;
$Black: #000000;
$Cloudy: #e5e8ea;
$Warm-Grey: #999999;
$Medium-Grey: #888888;
$Dark-Grey: #666666;

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro');

$font-size: 16px;
$font-size-small: $font-size * .8;
$font-size-medium: $font-size * 1;
$font-size-large: $font-size * 1.2;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

@mixin SourceSansPro() {
  font-family: 'Source Sans Pro', sans-serif !important;
}

@mixin SourceSerifPro() {
  font-family: 'Source Serif Pro', serif !important;
}

@mixin SourceCodePro() {
  font-family: 'Source Code Pro', monospace !important;
}
