$cube-square: 96px;

body {
  --cube-square: $cube-square;
}

.cube {
  position: relative;
  perspective: 100vw;
  width: var(--cube-square, $cube-square);
  height: var(--cube-square, $cube-square);

  &.front .flip {
    transform: rotateX(0deg) rotateY(0deg);
  }
  &.back .flip {
    transform: rotateX(0deg) rotateY(-180deg);
  }
  &.bottom .flip { // show bottom
    transform: rotateX(90deg) rotateY(0deg);
  }
  &.top .flip { // show top
    transform: rotateX(-90deg) rotateY(0deg);
  }
  &.left .flip { // show left
    transform: rotateX(0deg) rotateY(90deg);
  }
  &.right .flip { // show right
    transform: rotateX(0deg) rotateY(-90deg);
  }

  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .front, .top, .bottom, .left, .right, .back {
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    padding: 8px;

    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .front  { transform: translateZ(calc(var(--cube-square, $cube-square) / +2)) rotateY(  0deg); }
  .back   { transform: translateZ(calc(var(--cube-square, $cube-square) / -2)) rotateY(180deg); }
  .left   { transform: translateX(calc(var(--cube-square, $cube-square) / -2)) rotateY(-90deg); }
  .right  { transform: translateX(calc(var(--cube-square, $cube-square) / +2)) rotateY( 90deg); }
  .top    { transform: translateY(calc(var(--cube-square, $cube-square) / -2)) rotateX( 90deg); }
  .bottom { transform: translateY(calc(var(--cube-square, $cube-square) / +2)) rotateX(-90deg); }
}

@supports not (display: grid) {
  .cube {
    margin: 4px;
  }
}
