@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);.status-progress {
  position: relative;
  width: 100%;
  height: 32px;
  padding: 6px 0;
  background-color: rgba(255, 255, 255, 0.4);
  /* Contextual States */ }
  .status-progress-text {
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
    z-index: 2;
    overflow: hidden;
    text-align: center; }
  .status-progress-bar {
    background-color: purple;
    background-blend-mode: overlay;
    z-index: 1; }
  .status-progress-text, .status-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }
  .has-error .status-progress-bar {
    background-color: #830000 !important; }
  .has-info .status-progress-bar {
    background-color: #000083 !important; }
  .has-warning .status-progress-bar {
    background-color: #838300 !important; }
  .has-success .status-progress-bar {
    background-color: #008300 !important; }
.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center; }

#root {
  display: flex;
  align-items: stretch;
  min-height: 100%; }

body {
  --clr-overlay: rgba(128, 128, 128, 0.25); }
  body.dev {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-bg: rgba(0, 127, 127, 0.2);
    --clr-accent: #c08080;
    --clr-highlight: #80c080;
    --clr-btn-bg: #a980c0;
    --clr-btn-fg: #fff;
    --fnt-small: 11.2px;
    --fnt-normal: 14px;
    --fnt-large: 28px; }
  body.prod {
    --clr-white: #000;
    --clr-black: #fff;
    --clr-bg: rgba(0, 129, 129, 0.2);
    --clr-accent: #008000;
    --clr-highlight: #008080;
    --clr-btn-bg: #fff;
    --clr-btn-fg: #008080;
    --fnt-small: 11.2px;
    --fnt-normal: 14px;
    --fnt-large: 28px; }

/* html */
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: var(--fnt-normal);
  line-height: 1.2em; }

a {
  color: var(--clr-accent);
  text-decoration: none; }
  a:link, a:visited, a:active, a:hover {
    color: var(--clr-highlight);
    text-decoration: none; }

* {
  box-sizing: border-box; }

h1 {
  font-size: calc(var(--fnt-large) - (0 * 5px));
  margin: .25em 0;
  font-family: serif;
  font-style: normal; }

h2 {
  font-size: calc(var(--fnt-large) - (1 * 5px));
  margin: .25em 0;
  font-family: serif;
  font-style: normal; }

h3 {
  font-size: calc(var(--fnt-large) - (2 * 5px));
  margin: .25em 0;
  font-family: serif;
  font-style: normal; }

h4 {
  font-size: calc(var(--fnt-large) - (3 * 5px));
  margin: .25em 0;
  font-family: serif;
  font-style: normal; }

h5 {
  font-size: calc(var(--fnt-large) - (4 * 5px));
  margin: .25em 0;
  font-family: serif;
  font-style: normal; }

h6 {
  font-size: calc(var(--fnt-large) - (5 * 5px));
  margin: .25em 0;
  font-family: serif;
  font-style: normal; }

h3 {
  font-style: italic; }

.btn {
  background-color: var(--clr-btn-bg);
  color: var(--clr-btn-fg);
  border: 1px solid var(--clr-btn-fg);
  border-radius: 4px;
  padding: 4px 16px; }
  .btn:hover {
    color: var(--clr-btn-bg);
    background-color: var(--clr-btn-fg);
    border-color: 1px solid var(--clr-btn-bg); }
  .btn:focus {
    outline: 0; }

.active .btn, .active .btn:hover {
  background-color: var(--clr-bg); }

table th:not(.table),
table td:not(.table) {
  padding: 4px; }

table th.bool,
table td.bool {
  width: 1px;
  text-align: center; }

table th > table,
table td > table {
  width: 100%; }

table tr:not(:last-child) > td {
  border-bottom: 1px solid var(--clr-white); }

table tr:nth-child(odd) {
  background-color: var(--clr-overlay); }

table td {
  vertical-align: top; }
  table td.empty-table-state {
    vertical-align: center;
    text-align: center;
    font-weight: bold; }

table th {
  border: 1px solid var(--clr-white);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-weight: normal;
  text-transform: capitalize; }

p {
  margin: 0;
  margin-bottom: .5em; }
  p:last-child {
    margin-bottom: 0; }

.empty-dataset {
  font-style: italic;
  text-align: center; }

/* overrides for Syntax-Highlighter */
pre {
  padding: 0 !important; }

pre, pre > code {
  font-family: 'Fira Code' !important;
  font-size: var(--fnt-small, 13px) !important;
  line-height: 1.2 !important;
  margin: 0 !important; }

pre > code:not(:last-child) {
  background-color: var(--clr-overlay) !important;
  text-align: right !important;
  padding-right: 5px !important;
  padding-left: 5px !important; }

/* components */
#root {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%; }

.sidebar-container,
.content-container {
  border-radius: 4px;
  padding: 8px; }

.sidebar-container {
  flex: 0 0 196px; }

.content-container {
  flex: 1 1 auto;
  background-color: var(--clr-bg); }

/* transitions */
.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

.sidebar {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 200px;
  max-height: 100%;
  overflow-y: auto; }
  .sidebar-container {
    padding-top: 0;
    padding-bottom: 0; }
  .sidebar-item {
    margin: 4px 0;
    max-width: 96%; }

.floating-column {
  display: block;
  margin: 0 8px; }
  @media screen and (min-width: 1200px) {
    .floating-column {
      max-width: 1024px;
      margin: 0 auto; } }
  .floating-column > section + section {
    margin-top: 12px; }

.demo {
  display: flex;
  flex-direction: column; }
  .demo > div,
  .demo > pre {
    flex: 1 1 auto;
    width: 100%; }
  .demo > div {
    align-self: center;
    background-color: var(--clr-overlay);
    padding: 16px;
    max-height: 242px;
    overflow-y: auto; }
  .demo > pre {
    height: 242px;
    overflow-y: auto; }
  .demo + .demo {
    margin-top: 8px; }

/* */
.has-error {
  color: #810000; }

.has-warning {
  color: #812900; }

.errorMessage h1 {
  color: #810000;
  text-align: center; }

.errorMessage details {
  border: 1px solid #fff;
  padding: 16px; }

/*# sourceMappingURL=docs.js.map*/